:root {
  color-scheme: light dark;
  --background: white;
  --settings-background: white;
  --red: #aa0101;
  --green: #085c08;
  --gray1: rgb(66, 66, 66);
  --gray2: rgb(66, 66, 66);
  --gray3: #303030;
  --shadow: rgba(0, 0, 0, 0.1);
  --img-invert: 20%;

  --settingsY: 75%;
  --settingsX: -50%;
  --settings-sideways: 0;
  --hacky-hack-hack: 0;
  --more-settings-display: none;
  --make-line-up: unset;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(29, 29, 29);
    --settings-background: rgb(12, 12, 12);
    --red: #9c0202;
    --green: #085c08;
    --gray1: rgb(97, 97, 97);
    --gray2: rgb(102, 102, 102);
    --gray3: #8f8f8f;
    --shadow: rgba(0, 0, 0, 0);
    --img-invert: 35%;
  }
}

.light {
  --background: white;
  --settings-background: white;
  --red: #aa0101;
  --green: #085c08;
  --gray1: rgb(66, 66, 66);
  --gray2: rgb(66, 66, 66);
  --gray3: #303030;
  --shadow: rgba(0, 0, 0, 0.1);
  --img-invert: 20%;
}

.dark {
  --background: rgb(29, 29, 29);
  --settings-background: rgb(12, 12, 12);
  --red: #9c0202;
  --green: #085c08;
  --gray1: rgb(97, 97, 97);
  --gray2: rgb(102, 102, 102);
  --gray3: #8f8f8f;
  --shadow: rgba(0, 0, 0, 0);
  --img-invert: 35%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: calc(12px + 8vmin);
  height: 100%;
  background: var(--background);
  position: fixed;
}

hr {
  position: relative;
  border: 1px solid var(--gray2);
  margin: 0;
  background: var(--gray2);
}

a {
  color: var(--gray1);
}

.noteDisplay {
  margin-bottom: 10px;
  position: relative;
}

.accidental {
  position: absolute;
  top: 0;
  font-size: calc(6px + 8vmin);
}

.octave {
  font-size: calc(5px + 8vmin);
}

.frequencyDisplay {
  font-size: calc(12px + 6vmin);
  margin-top: 10px;
  color: var(--gray2);
}

.hz {
  font-size: 70%;
}

.fineTuner {
  margin-top: calc(10px + 3vh);
  text-align: center;
  position: relative;
}

.fineTunePointer {
  display: inline-block;
  position: relative;
  width: 2px;
  height: 35vh;
  background: var(--gray3);
  transform-origin: 50% 100%;
  transition: transform 0.3s;
}

.fineTuneMarks {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tuningMark {
  height: 10px;
  width: 1px;
  background: var(--gray3);
  display: inline-block;
  position: absolute;
  transform-origin: 50% 35vh;
  transform: translateX(-50%);
}

.bigTick {
  width: 2px;
  height: 15px;
}

.settings {
  font-size: calc(10px + 0.7vw);
  position: fixed;
  display: inline-block;
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  bottom: 0;
  transform: translate(var(--settingsX), var(--settingsY));
  background: var(--settings-background);
  box-shadow: 10px -10px 20px var(--shadow), -10px -10px 20px var(--shadow);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
  padding-top: 0;
  transition: transform 0.4s;
  text-align: left;
  color: var(--gray1);
  height: min-content;
}

.openSettings {
  color: var(--gray3);
  cursor: pointer;
  width: 100%;
  position: relative;
  left: -10px;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: calc(12px + 0.7vw);
  font-weight: bold;
}

.settingsList {
  list-style-type: none;
  padding: 0;
  white-space: nowrap;
  margin-top: 5px;
  position: relative;
  margin-bottom: 0;
  flex-shrink: 1;
}

.settingsList li {
  margin: 12px auto;
  padding-right: 110px;
  position: relative;
}

.checkmark {
  position: absolute;
  right: 37.5px;
  display: inline-block;
  height: 25px;
  width: 45px;
  border-radius: 12.5px;
  background: var(--gray2);
  transition: background 0.2s;
  cursor: pointer;
}

.checkmark:after {
  content: "";
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--settings-background);
  transition: transform 0.3s;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}

.checkbox:checked ~ .checkmark {
  background: var(--red);
}

.checkbox:checked ~ .checkmark:after {
  transform: translateX(20px);
}

.slider {
  -webkit-appearance: none;
  width: 100px;
  height: 7px;
  border-radius: 3.5px;
  background: var(--gray2);
  outline: none;
  display: inline-block;
  margin: 5px;
  position: absolute;
  right: -2px;
  top: 3.5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  background: var(--red);
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.showInput {
  border: 0.5px solid var(--gray2);
  border-radius: 4px;
  padding: 3px;
  width: 50px;
  background: transparent;
  color: var(--gray2);
  position: relative;
  float: right;
  font-size: calc(12px + 0.4vw);
}

#showPrecision {
  float: unset;
}

#showTuning {
  float: var(--make-line-up);
}

.optional {
  display: var(--more-settings-display);
}

.moreLess {
  position: relative;
}

.moreLess:before {
  content: "More";
}

.moreLess:after {
  content: "";
  position: absolute;
  top: 0.35em;
  right: -0.8em;
  height: 0.4em;
  width: 0.4em;
  border: solid var(--gray1);
  border-width: 0 1.7px 1.7px 0;
  transform: rotate(45deg);
  transform-origin: 65% 65%;
  transition: transform 0.3s;
}

.moreSettings {
  margin: 0;
  cursor: pointer;
}

.rotateChevron:checked ~ .moreLess:after {
  transform: rotate(-135deg);
}

.rotateChevron:checked ~ .moreLess:before {
  content: "Less";
}

.settingsList li:last-child {
  margin-top: 8px;
  margin-bottom: 0;
  text-align: center;
}

.reloader {
  position: relative;
  font-size: 80%;
  left: 55px;
  display: inline-block;
  top: -7px;
  padding: 7px;
}

@media screen and (max-width: 900px) {
  .noteDisplay {
    margin-top: 30px;
  }

  .frequencyDisplay {
    font-size: calc(25px + 8vmin);
  }

  .accidental {
    font-size: calc(19px + 8vmin);
  }

  .octave {
    font-size: calc(18px + 8vmin);
  }

  .settings {
    font-size: calc(12px + 1vw);
  }

  body {
    font-size: calc(25px + 10vmin);
  }
}

@media screen and (max-width: 320px) {
  .settings {
    max-width: 90vw;
  }

  .showInput {
    width: 36px;
    font-size: calc(12px + 0.4vw);
    text-align: center;
  }

  .settingsList li {
    margin-top: 18px;
    font-size: calc(12px + 0.5vw);
  }

  .frequencyDisplay {
    font-size: calc(12px + 6vmin);
    margin-top: 0;
  }

  .noteDisplay {
    margin-top: 15px;
  }

  .reloader {
    font-size: 90%;
  }

  hr {
    top: 2px;
  }
}

@media screen and (max-height: 400px) {
  .noteDisplay {
    margin-top: 0.5vh;
    margin-bottom: 0;
  }

  .fineTuner {
    margin-top: calc(12px + 1vh);
  }

  .frequencyDisplay {
    margin-top: 0;
  }
}

@media all and (orientation: landscape) and (max-height: 550px) {
  :root {
    --settingsX: -90.5%;
    --settingsY: -50%;
    --settings-sideways: 1;
  }

  .showInput {
    font-size: calc(12px + 0.4vw);
    text-align: center;
  }

  .settings {
    margin-left: 0;
    transform: translate(var(--settingsX), var(--settingsY));
    top: 50%;
    flex-direction: row-reverse;
    height: min-content;
    border-top-left-radius: 0;
    border-bottom-right-radius: 5px;
    width: min-content;
    padding-bottom: 0;
    box-shadow: 10px -10px 20px var(--shadow), 10px 10px 20px var(--shadow);
    min-width: var(--hacky-hack-hack);
  }

  .openSettings {
    text-orientation: sideways;
    writing-mode: vertical-lr;
    left: 10px;
    top: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 5px;
  }

  .frequencyDisplay {
    font-size: calc(12px + 6vmin);
  }

  hr {
    right: -10px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}